<div class="container calculator-container align-items-center">
  <div class="container result-calc-container">



  </div>
  <div class="container func-calc-container">
    <div class="row calc-row align-items-center">
      <div class="col  ">
        <button type="button" class="btn btn-circle btn-md font-calc btn-purple">+/-</button> 
      </div>
      <div class="col ">
        <button type="button" class="btn btn-circle btn-md font-calc btn-purple">%</button> 
      </div>
      <div class="col ">
        <button type="button" class="btn btn-circle btn-md font-calc btn-purple">X</button> 
      </div>
      <div class="col ">
        <button type="button" class="btn btn-circle btn-md font-calc btn-purple">/</button> 
      </div>
    </div>
    <div class="row calc-row align-items-center">
      <div class="col  ">
        <button type="button" class="btn  btn-circle btn-md font-calc btn-pink">7</button> 
      </div>
      <div class="col ">
        <button type="button" class="btn btn-circle btn-md font-calc btn-pink">8</button> 
      </div>
      <div class="col ">
        <button type="button" class="btn btn-circle btn-md font-calc btn-pink">9</button> 
      </div>
      <div class="col ">
        <button type="button" class="btn btn-circle btn-md font-calc btn-purple">+</button> 
      </div>
    </div>
    <div class="row calc-row align-items-center">
      <div class="col  ">
        <button type="button" class="btn btn-circle btn-md font-calc btn-pink">4</button> 
      </div>
      <div class="col ">
        <button type="button" class="btn btn-circle btn-md font-calc btn-pink">5</button> 
      </div>
      <div class="col ">
        <button type="button" class="btn btn-circle btn-md font-calc btn-pink">6</button> 
      </div>
      <div class="col ">
        <button type="button" class="btn btn-circle btn-md font-calc btn-purple">-</button> 
      </div>
    </div>
    <div class="row calc-row align-items-center">
      <div class="col  ">
        <button type="button" class="btn btn-circle btn-md font-calc btn-pink">1</button> 
      </div>
      <div class="col ">
        <button type="button" class="btn btn-circle btn-md font-calc btn-pink">2</button> 
      </div>
      <div class="col ">
        <button type="button" class="btn btn-circle btn-md font-calc btn-pink">3</button> 
      </div>
      <div class="col ">
        <button type="button" class="btn btn-circle btn-md font-calc"></button> 
      </div>
    </div>
    <div class="row calc-row align-items-center">
      <div class="col  ">
        <button type="button" class="btn btn-circle btn-md font-calc btn-pink">.</button> 
      </div>
      <div class="col ">
        <button type="button" class="btn btn-circle btn-md font-calc btn-pink">0</button> 
      </div>
      <div class="col ">
        <button type="button" class="btn btn-circle btn-md font-calc btn-pink">C</button> 
      </div>
      <div class="col ">
        <button type="button" class="btn btn-circle btn-md font-calc btn-yellow ">=</button> 
      </div>
    </div>

  </div>


</div>